{% extends 'base.html' %} 
{% block content %}

<h1>Finch List</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ finch.name }}</span>
        <p>Size: {{ finch.size }}cm</p>
        <p>Color: {{ finch.color }}</p>
        <p>Behavior: {{ finch.behavior}}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'finch_update' finch.id %}">Edit</a>
        <a href="{% url 'finch_delete' finch.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">
    <form action="{% url 'add_napping' finch.id %}" method="POST">
      {% csrf_token %} {{ napping_form.as_p }}
      <input type="submit" class="btn" value="Add Nap" />
    </form>
    <!-- new code above -->
    <table class="striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Nap Time</th>
        </tr>
      </thead>
      <tbody>
        {% for napping in finch.napping_set.all %}
        <tr>
          <td>{{napping.date}}</td>
          <td>{{napping.get_nap_display}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<hr>
<div class="row">
  <div class="col s6">
    <h3>{{ finch.name }}'s Seeds</h3>
    {% if finch.seeds.count %}
      {% for seed in finch.seeds.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              A <span style="color: {{ seed.color }}">{{ seed.color }}</span> {{ seed.name }}
            </span>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No Seeds 😔</h5>
    {% endif %}
  </div>
  <div class="col s6">
    <h3>Available Seeds</h3>
    {% if seeds.count %}
      {% for seed in seeds.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              A <span style="color: {{ seed.color }}">{{ seed.color }}</span> {{ seed.name }}
            </span>
          </div>
          <div class="card-action">
            <form action="{% url 'assoc_seed' finch.id seed.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn">Add</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>{{finch.name}} Already Has All Seeds Available</h5>
    {% endif %}
  </div>
</div>

<script>
  const dateEl = document.getElementById("id_date")
  M.Datepicker.init(dateEl, {
    format: "yyyy-mm-dd",
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true,
  })
  const selectEl = document.getElementById("id_nap")
  M.FormSelect.init(selectEl)
</script>

{% endblock %}
